.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -30px;
}

.wrapper{
    width: 400px;
    background-color: var(--bgSoft);
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    border-radius: 5px;
}

.github{
    width: 50%;
    padding: 20px;
    cursor: pointer;
    background-color: rgb(182, 105, 203);
    color: var(--textColor);
}
  
