.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 25px;
  }
  
  .form input{
    padding: 15px;
    background-color: var(--bg);
    color: var(--textColor);
    border: none;
    border-radius: 5px;
  }
  
  .form button{
    padding: 15px;
    cursor: pointer;
    background-color: var(--btn);
    color: var(--textColor);
    font-weight: bold;
    border: none;
    border-radius: 5px;
  }